
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.align-center{
    text-align: center;
}

.secondary-background{
    background-color: #FFF8F3;
}

.btn-primary{
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav */
nav{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    margin: 50px 226px;
}

nav h3{
    font-weight: 800;
    font-size: 45px;
}

nav h3 span{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    font-size: 20;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
}

.banner-paragrapgh{
    font-size: 18px;
}

.banner-img{
    width: 584px;
    height: 676px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 170px;
    margin-bottom: 170px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 92px 209px 170px 209px; 
    text-align: center;
}

.about-items{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
}

.item-title{
    color: #757575;
}

.item-description{
    font-weight: bold;
    color: #474747;
}

/* skills style */
.skill-container{
    display: flex;
    gap: 24px;
}

.skill{
    paadding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-description{
    padding: 104px 33px 30px;
}
    
/* resume-summary style */
.resume-summary{
    margin-top: 50px;
}

.resume-container{
    display: flex;
    gap: 77px;
}

.experience{
    min-height: 200px;
}

.resume-columns-title{
    font-size: 30px;
    font-weight: bold;
}

.exp-title{
    font-size: 25px;
    font-weight: bold;
}

.exp-subtitle{
    font-size: 20px;
    font-weight: 600;
}

.exp-description{
    font-size: 16px;
}

.exp-description, .exp-subtitle {
    color: 757575;
}

.resume-submit{
    margin-top: 50px;
}

/* footer section */


.connect-form{
    margin: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

.title{
    font-weight: bold;
    font-size: 35px;
}

.connect-description{
    font-size: 16px;
}

/* .icons{
    display: flex;
} */

.icon{
    margin-right: 20px;
}

footer input[type="text"], footer input[type="email"], footer textarea {
    display: block;
    font-size: 16px;
    background-color: white;
    height: 64px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #757575;
    padding: 10px 20px;
    margin-bottom: 24px;
}